$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Merriweather:700,400,400italic,300,300italic,900|Roboto:400,400italic,700);

// fonts
$serif: 'Merriweather', serif;
$sans: 'Roboto', sans-serif;

$darkBlue: #39484D;
$lightGrey: #f2f5f7;
$veryDarkBlue: #363633;
$yellow: #f3bc4c;
$orange: #F36949;

$archivist-librarian: #fcb52c;
$digitalhumanist-designer: #649800;
$it-developer: #00a3a4;
$scholar: #ff4a36;


$navbarHeight: 50px;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: $serif;
  font-weight: 400;
  color: $veryDarkBlue;
}

.navbar-default {
  height: $navbarHeight;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 100%;
}

.big-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.big-number div {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 3.5px;
    line-height: 0px;
    vertical-align: middle;
    border: 2px solid #39484D;
    width: 60px;
    height: 60px;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 2px;
}

section {
  padding: 0 0 70px;
}

section:nth-child(even) {
  background-color: $lightGrey;
}

section:nth-child(1) {
  background-color: $yellow;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-top: $navbarHeight;
}

section:nth-child(2) {
  background-color: $darkBlue;
  color: $lightGrey;

  .h-row {
    border-color: $lightGrey;
  }

  .big-number div {
    border-color: $lightGrey;
  }
}

section:last-of-type {
  background-color: $orange;
  color: white;
  text-align: center;

  .h-row {
    border-color: $lightGrey;
  }

  .big-number div {
    border-color: $lightGrey;
  }
}

h1 {}

h2 {
  font-family: $serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: $sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: center;
  margin: 11px 0 20px;
  text-transform: uppercase;
}

h4 {
font-family: $sans;
font-weight: 700;
font-size: 16px;
letter-spacing: 0px;
line-height: 24px;
}

.h-row {
  border-bottom: 2px solid $veryDarkBlue;
}

a {
  cursor: pointer;
}

p {
  margin: 20px 0;
  line-height: 24px;
}

p.description {
font-family: $sans;
font-size: 16px;
letter-spacing: 0px;
line-height: 24px;
margin: 0px;
}

#letters-map {
  border: 12px solid $lightGrey;
  box-sizing: border-box;
  height: 600px;
  width:100%;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  margin: 40px 0;

  svg {
    position: relative;
  }
  path {
    fill: none;
    stroke-width: 1px;
    stroke: $veryDarkBlue;
    stroke-opacity: 0.5;
    /*shape-rendering:crispEdges;*/
  }

  circle {
    stroke-width: 1px;
    stroke: $yellow;
    fill: none;
    opacity: 0.75;
  }

  .date{
    position: absolute;
    z-index: 1;
    font-size: 16px;
    padding: 8px 8px;
  }
}

.chart {
  margin-top: 40px;
  margin-bottom: 40px;
}

.network-stage {
}

.net-stage, .dend-stage {
  opacity: 0.5;
  transition: all 0s;
  // margin-top: 0;
  // margin-bottom: 0px;
}

.net-stage.focus, .dend-stage.focus {
  opacity: 1;
}

.net-img-container, .dend-img-container {
  // border: 1px solid $yellow;
}

#network {
  margin: auto;
  // border: 1px solid $darkBlue;
  height: 75vh;
  display: block;
  margin-top:15vh;
  margin-bottom:10vh;
}

#dendogram {
  margin: auto;
  // border: 1px solid $darkBlue;
  height: 75vh;
  display: block;
  margin-top:15vh;
  margin-bottom:10vh;
}

// .net-stage:first-child {
//   margin-top: 100px;
// }

.room.h50vh {
  display: block;
  height: 50vh;
}

.room.h25vh {
  display: block;
  height: 25vh;
}

.room.h37-5vh {
  display: block;
  height: 37.5vh;
}

.room.h500 {
  display: block;
  height: 500px;
}

.magic-margin {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;

//   Make the masthead heading the same height as the navigation
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }

/* Custom page footer */
.footer {
  padding: 30px 0 60px;
  background-color: #39484C;
  color: #a2a2a2;
  border-top: 1px solid $lightGrey;
}

// .container-narrow > hr {
//   margin: 30px 0;
// }

/* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;

//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

/* Supporting marketing content */
// .marketing {
//   margin: 40px 0;

//   p + h4 {
//     margin-top: 28px;
//   }
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }


// d3 dendogram

.node circle {
  fill: #eee;
  fill-opacity: 0.6;
  stroke: #999;
  stroke-width: 1px;
}

.node {
  font: 8px $sans;
  fill: #999;
}

.node:hover {
  font-size: 12px;
  fill: $veryDarkBlue;
}

.node.it-developer circle {
  fill: $it-developer;
  stroke: $it-developer;
}

.node.digitalhumanist-designer circle {
  fill: $digitalhumanist-designer;
  stroke: $digitalhumanist-designer;
}

.node.archivist-librarian circle {
  fill: $archivist-librarian;
  stroke: $archivist-librarian;
}

.node.scholar circle {
  fill: $scholar;
  stroke: $scholar;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.out {
  opacity: 0.5;
}

.wg1.focus {
  opacity: 1;
}


