$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Merriweather:700,400,400italic,300,300italic,900|Roboto:400,400italic,700);

// fonts
$serif: 'Merriweather', serif;
$sans: 'Roboto', sans-serif;

$darkBlue: #39484D;
$lightGrey: #f2f5f7;
$veryDarkBlue: #363633;
$yellow: #f3bc4c;
$orange: #F36949;

$navbarHeight: 50px;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: $sans;
  font-family: $serif;
  font-weight: 400;
  color: $veryDarkBlue;
  padding-top: $navbarHeight;
}

.navbar-default {
  height: $navbarHeight;
}

.big-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.big-number div {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 3.5px;
    line-height: 0px;
    vertical-align: middle;
    border: 2px solid #39484D;
    width: 60px;
    height: 60px;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 2px;
}

section { 
  padding: 0 0 70px; 
}

section:nth-child(even) {
  background-color: $lightGrey;  
}

section:nth-child(1) {
  background-color: $yellow;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

section:nth-child(2) {
  background-color: $darkBlue;  
  color: $lightGrey;

  .h-row {
    border-color: $lightGrey;
  }

  .big-number div {
    border-color: $lightGrey;
  }
}

section:last-of-type {
  background-color: $orange;  
  color: $lightGrey;
  text-align: center;

  .h-row {
    border-color: $lightGrey;
  }

  .big-number div {
    border-color: $lightGrey;
  }
}

h1 {}

h2 {
  font-family: $serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: $sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: center;
  margin: 11px 0 20px;
  text-transform: uppercase;
}

h4 {
font-family: $sans;
font-weight: 700;
font-size: 16px;
letter-spacing: 0px;
line-height: 24px;
}

.h-row {
  border-bottom: 2px solid $veryDarkBlue;
}

a {
  cursor: pointer;
}

p {
  margin: 20px 0;
  line-height: 24px;
}

p.description {
font-family: $sans;
font-size: 16px;
letter-spacing: 0px;
line-height: 24px;
margin: 0px;
}



#letters-map {
  border: 12px solid $lightGrey;
  box-sizing: border-box;
  height: 600px;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  margin: 40px 0;
}

.network-stage > .row, .dendogram-stage > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.net-img-container, .dend-img-container {
  display: flex;
  border: 1px solid $darkBlue;
}

.net-img-container>img {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;

//   Make the masthead heading the same height as the navigation
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }

/* Custom page footer */
.footer {
  padding: 30px 0 60px;
  background-color: #39484C;
  color: #a2a2a2;
  border-top: 1px solid $lightGrey;
}

// .container-narrow > hr {
//   margin: 30px 0;
// }

/* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;

//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }

/* Supporting marketing content */
// .marketing {
//   margin: 40px 0;

//   p + h4 {
//     margin-top: 28px;
//   }
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
