<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Reassembling the Republic of Letters</h2>
        <h3>Work and Achievements of the Action.</h3>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" id="section1">
  <div class=container>
    <div class="row">
        <div class="big-number col-sm-4 col-sm-offset-4">
          <div class=""><span>1</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2>Respublica Littearia</h2>
          <h3>A KNOWLEDGE-BASED CIVIL SOCIETY</h3>
        </div>
        <div class="clearfix"></div>
        <div class="h-row col-sm-2 col-sm-offset-5"></div>
        <div class="clearfix"></div>
        <div class="col-sm-6 col-sm-offset-3">
          <p>Between 1500 and 1800, a revolution in postal communication allowed ordinary men and women to scatter letters across and beyond Europe. This exchange helped knit together what contemporaries called the respublica litteraria, a knowledge-based civil society, crucial to that era’s intellectual breakthroughs, and formative of many modern European values and institutions.</p>
          <p><b>For instance</b>, We can make an attempt of understanding the complexity of this phenomenon taking as example the correspondence of Samuel Hartlib (ca. 1600 – 10 March 1662), German-British polymath and active promoter and expert writer in many fields.</p>
          <p>In the following map we tried to visualise Hartlib's correspondence network.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="letters-map">
        <div class="date">{{current | date}}</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p class="caption"><b class="highlight">About the map</b>: every path stands for an hypothetic route that a letter went across  during its journey from the writer to the recipient (we calculated them using <a href="" target="_blank">this</a> service). Even if roads have changed in the past centuries, we believe this is a valid alternative to a visualisation that uses only straight lines to make correspondence visible.</p>
          <p>Ironically, the exchange of letters which created this community also dispersed the documentation required to study it, posing enormous difficulties for historians of the subject ever since. This is why some items are not visualised on the map.</p>
          <p>For each letter we have a set of attached information, called metadata, which comprehend details such as date, sender, recipient, destination, origin, etc.</p>
          <p>This data is often very inconsistent.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="chart col-sm-12">
        <img class="img-responsive" src="images/letters-info.png" width="680" style="margin:auto;" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Sometimes we know about the existance of letters delivered from a particular city of origin, but the destination addresses have been lost and in some other cases it is just the opposite.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="chart col-sm-12">
        <img class="img-responsive" src="images/destination-unknown.png" width="549" style="margin:auto;" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Furthermore there are even more complicated examples regarding the existance of a letter without both the origin and destination location, or even without a date.<br/>To reassemble that scattered material and chart the history of that imagined community we need a revolution in digital communications.</p>
          <p>This COST Action is dedicated to envisaging the open-access, open-source, transnational digital infrastructure capable of facilitating the radically multilateral collaboration needed to reassemble this scattered documentation and to support a new generation of scholarly methods and research questions.</p>
        </div>
      </div>
    </div>
</section>

<section class="container-fluid" id="section2">
  <div class=container>
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>2</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>A Research Network</h2>
        <h3>Coordination for better results</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p><b>COST Action IS1310 Reassembling the Republic of Letters, 1500–1800</b> is therefore essentially a networking programme. It emerged in response to the expectation that that the ongoing revolution in digital communications technology can solve the scholarly problem created by the evolution of postal communication in the early modern period, thanks to the contribution of various sholars and researchers spread in different research groups.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="network-stage">
      <div class="row">   
        <div class="net-img-container col-sm-8 col-md-9" sticky offset="0" usePlaceholder="false" confine="true">
          <img id="network" src="images/2-net1.svg" class="img-responsive">
        </div>
        <div class="col-sm-4 col-md-3 col-sm-offset-8">
          <div class="net-stage" trigger-persist="true" scroll-trigger="animateNetwork()" urlimg="images/2-net1.svg">
            <h4>2.1 Research at National Level</h4>
            <h4>–</h4>
            <p class="description">Spread all over the coutries involved in the COST Action there are a number of reaserach centers dealing with the digital humanities, and especially with the study of correspondence. Some of those nations have a higher number of research centers then others.</p>
          </div>
          <div class="room h500"></div>
          <div class="net-stage" trigger-persist="true" scroll-trigger="animateNetwork()" urlimg="images/2-net2.svg">
            <h4>2.2 Coordination</h4>
            <h4>–</h4>
            <p class="description">Thanks to this COST Action, those research labs are able to connect each others. Doing so they have a chance to bring their finding to an upper level.</p>
          </div>
          <div class="room h500"></div>
          <div class="net-stage" trigger-persist="true" scroll-trigger="animateNetwork()" urlimg="images/2-net3.svg">
            <h4>2.3 Fostering Collaboration</h4>
            <h4>–</h4>
            <p class="description">The framework of the COST Action provides the participants with some interesting format of knowledge exchange such as conferences and meetings. Beside those, it is important to highlight that another form of collaboration comes into existence thanks to the <b>subdivision in working groups</b>, where, even if not all the participant countries are involved, the various topics of the Historiographical Agenda are addressed.</p>
          </div>
          <div class="room h37-5vh"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>In essence, a new scholarly network is needed in order to study the older scholarly network of the early modern period. To sustain this new network, we need a new breed of digital networking tools; and the purpose of this Action is to assemble the network needed to design these tools: a network to devise a networking platform to support a network studying past networks.</p>
        <p>COST Action does not found research itself, but provide the environment for adding up to something greater than the sum of individual parts.</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid"  id="section3">
  <div class=container>  
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>3</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Interdisciplinarity</h2>
        <h3>Hearth of Collaboration</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p>[Text.]</p>
      </div>
    </div>
       
    <div class="row dendogram-stage">
      
      <div sticky usePlaceholder="true" confine="true" sticky-class="magic-margin" class="dend-img-container col-sm-8 col-md-9">
        <!-- <img id="dendogram" class="img-responsive" src="images/3-dend1.svg" alt="Dendogram"> -->
      </div> <!-- Close col-sm-8 -->

      <div class="col-sm-4 col-md-3 col-sm-offset-8 col-md-offset-9">
        <!-- <div class="room h37-5vh"></div> -->
        <div id="ds1" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds1')" stage="3-1">
          <h4>3.1 Four Communities</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds2" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds2')" stage="3-2">
          <h4>3.2 Involved People</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds3" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds3')" stage="3-1">
          <h4>3.3 Working Groups</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds4" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds4')" stage="3-2">
          <h4>3.4 WG1: Space and Time</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds5" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds5')" stage="3-1">
          <h4>3.5 WG2: People and Network</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds6" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds6')" stage="3-2">
          <h4>3.6 WG3: Text and Topics</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds7" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds7')" stage="3-1">
          <h4>3.7 WG4: Documents and Collections</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds8" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds8')" stage="3-2">
          <h4>3.8 WG5: Data Exchange and Strategic Planning</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds9" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds9')" stage="3-1">
          <h4>3.9 WG6: Visualisation and acommunication</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h500"></div>
        <div id="ds10" class="dend-stage" XXXtrigger-persist="true" scroll-trigger="animateDendogram('ds10')" stage="3-2">
          <h4>3.10 Affiliates and Management</h4>
          <h4>–</h4>
          <p class="description">[Text.]</p>
        </div>
        <div class="room h37-5vh"></div>
      </div> <!-- Close col-sm-4 -->

    </div> <!-- Close Row, dendogram-stage -->

  </div> <!-- CONTAINER -->


</section>

<section class="container-fluid" id="section4">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>4</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Events and Activities</h2>
        <h3>[Text.]</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p>The activities funded by COST also include Workshops held at irregular intervals depending on need, Training Schools designed to induct younger scholars into the techniques and methods being pioneered by the group, and Short Term Scientific Missions (STSMs), which fund international exchange visits within the network likewise targeted at colleagues in early career.</p>
        <img class="img-responsive" src="images/events-details.svg" style="width: 367px; margin: auto; margin-top: 60px; margin-bottom: 50px;" />
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12">
        <iframe id="events-map" frameBorder='0' src='https://a.tiles.mapbox.com/v4/iosonosempreio.01ajg1j8/attribution,zoompan.html?access_token=pk.eyJ1IjoiaW9zb25vc2VtcHJlaW8iLCJhIjoiOHpYSnpLQSJ9.2ZxP5dSbQhs-dH0PhXER9A'></iframe>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" id="section5">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>5</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Know More</h2>
        <h3>~</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p>Whether you want to discover more about the work done by the COST Action "Reassembling the Republic of Letters" and know more about the upcoming and past events, or you are interest in knowing how to take part, please visit our website.</p>
        <p><a href="http://www.republicofletters.com">www.republicofletters.com</a></p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>[96]</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>[Section Title]</h2>
        <h3>[Section Subtitle]</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p>[Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.]</p>
      </div>
    </div>
  </div>
</section> -->
