<section class="container-fluid" id="section0">
  <div class="level1" style="background-image: url('images/cover_L1.png');"></div>
</section>
<section class="container-fluid" id="section1">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>1</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Objectives</h2>
        <h3>A digital framework for multi-lateral collaboration</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>Between 1500 and 1800, a revolution in postal communication allowed ordinary men and women to scatter letters across and beyond Europe. This exchange helped knit together what contemporaries called the respublica litteraria, a knowledge-based civil society, crucial to that era’s intellectual breakthroughs, and formative of many modern European values and institutions.</p>
        <p>Ironically, the exchange of letters which created this community also dispersed the documentation required to study it, posing enormous difficulties for historians of the subject ever since.</p>
        <p>To reassemble that scattered material and chart the history of that imagined community we need a revolution in digital communications.</p>
        <p>This COST Action is dedicated to envisaging the open-access, open-source, transnational digital infrastructure capable of facilitating the radically multilateral collaboration needed to reassemble this scattered documentation and to support a new generation of scholarly methods and research questions.</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" id="section2">
  <div class=container>
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>2</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Geographical Extent</h2>
        <h3>Researchers from 33 countries</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p><b>COST Action IS1310 Reassembling the Republic of Letters, 1500–1800</b> is essentially a networking programme. A new scholarly network is needed in order to study the older scholarly network of the early modern period. To sustain this new network, we need a new breed of digital networking tools. The purpose of this Action is to assemble the network needed to design these tools: a network to devise a networking platform to support a network studying past networks.</p>
        <p>At the heart of this Action as nearly 100 Management Committee Members and Substitute Members drawn from 32 of the 35 countries which make up COST. A growing number of Affiliates from even further afield also participate informally in the network.</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h3>Research at National Level</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>2
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>Spread all over the coutries involved in the COST Action there are a number of reaserachers dealing with the digital humanities, and especially with the study of correspondence.</p>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12" id="map1">
      <iframe width="100%" height="520" frameborder="0" src="https://densitydesign.cartodb.com/viz/dc41f152-3a21-11e6-80bd-0ef7f98ade21/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h3>[MOVE FROM HERE] Fostering Collaboration</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>Thanks to a particular form of grant called STSM (Short Term Scientific Missions) people had been able of meet with the aim of lead very specific projects.
          <br/>In the network, nodes are representing COST-involved nations. Edges are directional, meaning one or more people travelled from a country to a hosting one, while the size is representative of the sum of in-going and out-going connection every nation assists.
          <br/>As it is possible to deduce from the image, not all the nations have been involved (as a hosting one or not) in an STSM.</p>
        <img src="images/stsm-network.png" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>In essence, a new scholarly network is needed in order to study the older scholarly network of the early modern period. To sustain this new network, we need a new breed of digital networking tools; and the purpose of this Action is to assemble the network needed to design these tools: a network to devise a networking platform to support a network studying past networks.</p>
        <p>COST Action does not found research itself, but provide the environment for adding up to something greater than the sum of individual parts.</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" id="section3">
  <div class=container>
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>3</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Disciplinary Breadth</h2>
        <h3>FOUR COMMUNITIES</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>In order to fulfil its task, the Action must attract experts not only from all quarters of Europe but also from several different areas of expertise. Scholars from many different fields predominate, since they set most of the intellectual agenda. Librarians and archivists best understand the task of cataloguing and preserving letters in script and print. Experts in many branches of information technology are vital to designing the infrastructure which these scholarly communities need. Visualisation and communication expertise is needed to reveal meaningful patterns in large quantities of data.</p>
      </div>
    </div>
    <div class="row dendogram-stage">
      <div class="col-sm-9 communities-dendogram-extended"></div>
      <div class="col-sm-3">
        <div class="dend-stage">
          <h4>Involved People</h4>
          <h4>–</h4>
          <!--  <p class="description">A total number of <b>164</b> people are invoved. The chart represents them divided into their belonging communities, which are the ones saw before.<br/>About three out of four people are scholars, experts in humanistic matters, while the rest of the  group is represented by Archivist, Librarians, Digital Humanist, Designers and Computer Scientist. The role of these people is to support the scholars in expressing needs and, together, to envision how to add value to their work.</p> -->
          <legend-communities></legend-communities>
        </div>
      </div>
    </div>
  </div>
    <!-- CONTAINER -->
</section>
<section class="container-fluid" id="section4">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>4</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Structure</h2>
        <h3>Six Working Groups</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>At the centre of this Action are six Working Groups, the scope of which is determined by the basic features of letters themselves. Letters are written documents sent by a one or more person(s) at a specific time and place to one or more other person(s) in another place.</p>
        <p>The first three working groups deal with the (1) temporal and spatial, (2) biographical and social, and (3) textual and topical dimensions of letters. The others working groups handle (4) the material properties of letters and their archival histories, (5) the technical challenge of exchanging data within participating projects and institutions, and (6) the challenges of analysing and exploring complex data visually.</p>
        <p>The following graphic illustrates the division of the Action’s core and affiliate members into these six working groups.
        </p>
      </div>
    </div>
    <div class="row dendogram-wg-stage">
      <div class="chart-container sticky-container col-sm-9">
        <working-groups-dendrogram id="working-groups-dendrogram" class="focus-{{wgFocus}}"></working-groups-dendrogram>
      </div>
      <div class="col-sm-3">
        <div class="dend-stage-box">
          <div class="dend-two-stage">
            <p class="selection-title">Select a group</p>
            <div class="wgFocusButton" ng-repeat="button in wgDescriptions" ng-click="switchWg($index)">
              <p>{{button.button}}</p>
            </div>
            <!-- <h4 style="clear:both; padding-top: 20px;">{{wgDescriptions[wgFocus].title}}</h4>
            <h4>–</h4>
            <p class="description">{{wgDescriptions[wgFocus].description}}</p> -->
            <legend-communities></legend-communities>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="container-fluid" id="section5">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>5</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Events and Activities</h2>
        <h3>[Text.]</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>The activities funded by COST also include Workshops held at irregular intervals depending on need, Training Schools designed to induct younger scholars into the techniques and methods being pioneered by the group, and Short Term Scientific Missions (STSMs), which fund international exchange visits within the network likewise targeted at colleagues in early career.</p>
        <img class="img-responsive" src="images/events-details.svg" style="width: 367px; margin: auto; margin-top: 60px; margin-bottom: 50px;" />
        <!-- <p><span style="font-weight:bold;">NB</span>: <span style="color:#63b6e5;font-weight:bold;">Light blue markers</span> represents places where different kind of events took place, not necessarily overlapping each others (e.g. a conference, a training school and various meetings). <span style="color:#4d4d4d;font-weight:bold;">Markers with the “plus” sign</span> indicate places where more than 9 activities took place (only United Kingdom).</p> -->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <iframe id="events-map" frameborder="0" src="https://densitydesign.cartodb.com/viz/6ced7000-3d38-11e6-b4c7-0e98b61680bf/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section class="container-fluid" id="section6">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>5</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2>Know More</h2>
        <h3>~</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>Whether you want to discover more about the work done by the COST Action "Reassembling the Republic of Letters" and know more about the upcoming and past events, or you are interest in knowing how to take part, please visit our website.</p>
        <p><a href="http://www.republicofletters.com">www.republicofletters.com</a></p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="big-number col-sm-4 col-sm-offset-4">
        <div class=""><span>[96]</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>[Section Title]</h2>
        <h3>[Section Subtitle]</h3>
      </div>
      <div class="clearfix"></div>
      <div class="h-row col-sm-2 col-sm-offset-5"></div>
      <div class="clearfix"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <p>[Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.]</p>
      </div>
    </div>
  </div>
</section> -->
