<!-- <div class="box-map container">
	<div class="row">
		<h4 class="col-xs-12">Description</h4>
	</div>
	<div class="row" style="display: flex; align-items: center;">
		<div class="legend-item col-xs-1">
			<p></p>
		</div>
		<div class="legend-descr col-xs-11">
			<p>Routes calculated on modern roads infrastructure</p>
		</div>
	</div>
	<div class="row">
		<div class="legend-text col-xs-12">
			<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
	</div>
</div> -->